// Navigation code here

.nav-flex {
    .flex-column();
    align-items: center;
    justify-content: space-around;
    background-color:#f4f4f4;
    padding-bottom: 20px;
    .top-heading {
        font-size: 50px;
        padding: 30px;

        }
    }
    .nav-flex {
        .flex-row();
        flex-direction: row;
        justify-content: space-evenly;
        width: 40%;
        padding: 20px;
        margin-top: 10px;
        @media @phone{
            width: 100%;
            font-size: 25px;
    }
    a {
        font-size: 20px;
        padding: 40px;

    }
}